:root {
  /* main colors */
  --bg: #111822;
  --bg-backup: #030F19;
  --secondary-bg: #010914;
  --text-main: #eee;
  --text-secondary: #DA6D58;
  --text-secondary-lightest: rgba(254, 95, 85, 0.2);
  --text-secondary-light: rgba(254, 95, 85, 0.5);
  --find: solid 1px red;

  /* main fonts */
  --main-font: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background: var(--bg);
  color: var(--text-main);
  padding: 0 1rem;
  overflow-y: hidden;
}

/* HEADER SECTION */

.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: .3rem .7rem; */
  margin: 1rem 0;
  /* border: solid red; */
}

.header li {
  list-style: none;
}

.header li a {
  text-decoration: none;
  color: var(--text-main)
}

.header-left {
  color: #eee;
  /* border: solid green; */
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.date {
  /* border: solid blue; */
  width: 95%;
  padding: 0 .9rem 0 0;
  display: flex;
  justify-content: space-between;
}

.header-left span {
  /* background: green; */
  font-size: .8rem;
}

.main-greeting {
  font-size: 1.2rem;
}

.menu {
  /*border: solid red;*/
  cursor: pointer;
  margin-right: .5rem;
  height: 2rem;
  position: relative;
  justify-content: center;
  display: flex;
}

.menu-burger {
  border: solid white 1px;
  /*align-items: center;*/
  width: 30px;
  height: 1px;
}

.menu-burger::before,
.menu-burger::after {
  content:"";
  position: absolute;
  display: inline-block;
  border: solid white 1px;
  width: 28px;
  /*height: 1px;*/
}

.menu-burger::before {
  top: 10px;
  /*background: green;*/
}

.menu-burger::after {
  bottom: 10px;
  /*background: green;*/
}


/* SEARCH SECTION */

.search {
  /* border: solid red; */
  /* background: blue; */
  display: flex
}

.search-bar {
  padding: .6rem;
  width: 85%;
  border: none;
  border-left: solid 1px var(--text-secondary);
  outline: none;
  background: var(--secondary-bg);
  color: var(--text-main);
}

.search-icon-container {
  width: 14%;
  /* height: 40px; */
  background: var(--text-secondary);
  padding: .35rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.search-icon {
  display: block;
  width: 45%;
  height: 75%;
  border-radius: 50%;
  position: relative;
  border: solid white 2px;
  margin-left: .5rem;
  /* background: green; */
}

.search-icon::before {
  content: "";
  position: absolute;
  display: block;
  background: white;
  width: .8rem;
  height: 2px;
  transform: translate(12px, 14px) rotate(35deg);
}


/* TASK SECTION */

.tasks {
  border: solid rgba(0, 0, 0, 0.1) 1px;
  height: 75vh;
}

.todays-tasks {
  border: solid var(--text-secondary) 1px;
  background: rgba(256, 69, 0, .4);
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.9rem;
  padding: 0 .6rem;
  /* justify-content: center; */
  align-items: center;
}

.number-of-tasks {
  font-size: 1.3rem;
  margin-right: .5rem;
}

.all-tasks {
  height: 83%;
  scrollbar-width: none;
  /* border: solid green; */
  overflow-y: scroll;
  margin-top: 1rem;
  position: relative;
}

.no-tasks {
  border: solid var(--text-secondary-light) 1px;
  background: var(--bg-backup);
  color: #666;
  font-size: 1.3rem;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-closed {
  list-style: none;
  /*min-height: 7rem;*/
  border-bottom: solid var(--text-secondary-light) 1px;
  background: var(--secondary-bg);
   /*background: green; */
  margin-top: .9rem;
  /* border-radius: 10px; */
  min-height: 4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.6s ease;
  padding: 1.5rem .5rem;
  position: relative;
  /*z-index: 100;*/
}

.deleting-task {
  list-style: none;
  /*min-height: 7rem;*/
  border-bottom: solid var(--text-secondary-light) 1px;
  background: var(--secondary-bg);
  margin-top: 1rem;
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.6s ease;
  padding: 1.55rem .5rem;
  position: relative;
  transform: translateX(-130px);
}

.task-deleted {
  transform: translateX(-400px);
  opacity: 0;
  transition: 0.2s ease;
  height: 0;
  /*transition-delay: height 0.2s;*/
}

.checkbox-unselected {
  border: solid var(--text-secondary-light) 1px;
  display: block;
  width: 1.3rem;
  height: 1.3rem; 
  border-radius: 50%;
  margin-right: .4rem;
  padding-left: .3rem;
  transition: 0.5s ease;
}

.checkbox-selected {
  border: solid var(--text-secondary-light) 1px;
  width: 1.3rem;
  height: 1.3rem; 
  /*border-radius: 50%;*/
  margin-right: .4rem;
  padding-left: .3rem;
  transition: 0.5s ease;
  background: green;
}

.options {
  /*border: solid red 1px;*/
  /*background: blue;*/
  font-size: 1rem;
  width: 13%;
  display: flex;
  align-items: center;
  transform: translateX(0);
  opacity: 1;
  transition: 0.6s ease;

  /*justify-content: space-around;*/
}

.icon {
  /*background: purple;*/
  filter: invert(90%);
  width: 1.2rem;
  margin-right: .5rem;
  cursor: pointer;
  transition: 0.1s ease;
}

.icon:active {
  filter: invert(100%);
  transition: 0.1s ease;
}

.delete-options {
  justify-content: flex-end;
  /*border: solid green;*/
  width: 35%;
  right: 0;
  height: 93%;
  position: absolute;
  display: none;
  z-index: -10;
}

.delete-option {
  width: 100%;
  /*height: 99%;*/
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  /*background: #9C2D1C;*/
  z-index: -100;
}

.deleting-task > .delete-options {
  transform: translateX(130px);
  display: flex;
}

.edit-task {
  list-style: none;
  border-bottom: solid var(--text-secondary-light) 1px;
  margin-top: .9rem;
  display: flex;
  cursor: pointer;
  transition: 0.6s ease;
  min-height: 10rem;
  position: relative;
  /*box-shadow: rgba(247, 69, 0, 0.56) 0px 22px 70px 4px;*/
  /*border: solid orangered 1px;*/
}

.edit-task > .options {
  transform: translateX(-200px);
  opacity: 0;
  transition: 0.6s ease;
}

.edit-task > .task-heading {
  font-weight: 200;
  transition: 0.6s ease;
}

.edit-task > .checkbox-unselected {
  transform: translateX(200px);
  opacity: 0;
  transition: 0.5s ease;
}

.closeBtn {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 0;
  border: none;
  background: orangered;
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
  z-index: 1;
}

.closeBtn-closed {
  /*z-index: -200;*/
  position: absolute;
  right: 0;
  border: none;
  transition: 0.6s ease;
}

.cancel {
  background-image: linear-gradient(to bottom right, #E21C34, #500B28);
  font-size: 1.4rem;
  width: 100%;
}

.cancel span {
  /*background: yellow;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.confirm {
  background-image: linear-gradient(to bottom right, #0D5051, #93FD70);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.check {
  width: 100%;  
  height: 100%; 
  filter: invert(90%);
  /*background: white;*/
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check::before {
  content: "";
  position: absolute;
  width: 15%;  
  height: 25%; 
  border: none;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
  /*solid black because the confirm inverts it  */
  transform: rotate(40deg);
  z-index: 50;
  margin-bottom: .5rem;
}

.nix {
  width: 30%;
  height: 30%;
}

.div-closed {
  background: rgba(256, 69, 0, 0.3);
  /*border: solid rgba(256, 69, 0, .4) 1px;*/
  /*min-height: 1.5rem;*/
  /*padding-top: .2rem;*/
  /*padding-left: .2rem;*/
  /*width: 75%;*/
  transition: 0.6s ease;
  /*margin-top: 2rem;*/
  font-size: .7rem;
}

/* ADD TASK SECTION */
.add-task {
  /* border: solid red; */
  height: 5rem;
  display: flex;
  width: 20%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.add-task-form_active {
  /* opacity: .8; */
  backdrop-filter: blur(5px);
  background: var(--bg-backup);
  transform: translateY(-100px);
  /* border: solid orangered 1px; */
  padding-top: 1rem;
  /* border-radius: 10px; */
  width: 92%;
  height: 70%;
  bottom: -.2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  align-items: center;
}

.add-task-form_inactive {
  opacity: 0;
  transform: translateY(700px);
  width: 92%;
  height: 70%;
  bottom: -.2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
  align-items: center;
}

.title-heading,
.task-date-title,
.task-place-title,
.task-category-title {
  color: var(--text-secondary);
  font-size: 1.1rem;
  width: 100%;
  /* padding-left: 1rem; */
  /* border: solid var(--bg) 1px; */
}

.task-heading {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  /*border: solid red;*/
  /*border: solid red 1px; */
  font-size: 1rem;
  width: 80%;
  padding-left: .2rem;
  padding-top: .2rem;
}

.task-place,
.task-category,
.task-date,
.task-title,
.task-time {
  width: 90%;
  /* border-radius: 10px; */
  height: 18%;
  /* border: solid green 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  font-size: 1.2rem;
}


.task-title {
  margin: 1rem auto;
  width: 90%;
  height: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title-input {
  width: 100%;
  /* height: 45%; */
  /* padding-bottom: .2rem; */
  /* margin-top: 1rem; */
  border: none;
  background: none;
  border-bottom: solid 1px orangered;
  display: inline-block;
  font-size: 1.1rem;
  outline: none;
  padding: .2rem;
  color: #999;
}

.add-task-btn {
  border: none;
  background: var(--text-secondary);
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease;
  position: relative;
  z-index: 10;
}

.add-task-btn:active {
  transform: scale(1.2);
  box-shadow: 0px 0px 7px 1px rgba(256, 69, 0, 0.9);
  transition: 0.4s ease;
}

.add-task-icon_inactive {
  /* border: solid green; */
  /* transform: rotate(45deg); */
  position: absolute;
  transition: 0.4s ease;
}

.add-task-icon_active {
  /* border: solid green; */
  transform: rotate(45deg);
  position: absolute;
  transition: 0.4s ease;
}

.task-date {
  /* background: red; */
  /* background: white; */
  display: flex;
  flex-direction: column;
  color: var(--text-secondary);
  width: 90%;
  /* border-radius: 10px; */
  margin-bottom: 1rem;
}

.date-picker {
  /* padding: 1rem; */
  border: none;
  font-size: 1.1rem;
  outline: none;
  height: 3rem;
  background: none;
  color: #666;
  width: 100%;
  border-bottom: solid orangered 1px;
  /* border-radius: 10px; */
}

.create-task-btn {
  width: 40%;
  height: 2rem;
  color: white;
  margin: 4rem;
  cursor: pointer;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--text-secondary)
}

.task-time {
  /* background: white; */
  width: 90%;
  height: 5rem;
  /* border-radius: 10px; */
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
}

.task-time-title {
  margin: 1rem;
}

.time-inputs {
  /* background: green; */
  height: 50%;
  display: flex;
  /* justify-content: center; */
  padding-left: 1rem;
  align-items: center;
  border-radius: 10px;
}

.time-inputs input {
  margin: 0 1rem 1rem 0;
  font-size: 1.2rem;
  color: #999
}

.task-place,
.task-category,
.task-date {
  margin: 1rem auto;
  height: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-picker {
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid orangered 1px;
  padding-bottom: .2rem;
  margin: 1.5rem 1rem 0 1rem;
  margin-top: 1rem;
  font-size: 1.15rem;
  outline: none;
  color: #666
}

.category-picker {
  padding-bottom: .2rem;
  width: 100%;
  background: none;
  /* margin: 1.5rem 1rem 0 1rem; */
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-bottom: solid orangered 1px;
  color: #666
}

/* ALERT SECTION */
.alert_inactive {
  width: 92%;
  height: 71%;
  position: absolute;
  /* border: solid red; */
  top: 18%;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.6rem;
  /* backdrop-filter: blur(50px); */
  transform: translateY(900px);
  transition: 0.4s ease;
}

.alert_active {
  width: 92%;
  height: 71%;
  position: absolute;
  /* border: solid red; */
  top: 18%;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.6rem;
  backdrop-filter: blur(50px);
  transform: translateY(0);
  transition: 0.4s ease;
}

/* FOOTER SECTION */
.footer {
  /*border: solid blue; */
  width: 100%;
  height: 5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  /*background: green; */
}

.total-tasks {
  background: var(--text-secondary-light);
  /*margin-left: 1rem;*/
  width: 30%;
  font-size: .8rem;
  padding: .3rem .3rem .3rem 0;
  /*height: 100%;*/
}

.total-tasks div {
  /*background: blue;*/
  display: flex;
  justify-content: flex-end;
}

